/* Шрифты */
/* Bilbo Swash Caps 400 normal */
@font-face {
	font-family: 'BilboSwashCaps-Regular'; 
	src: url("../fonts/BilboSwashCaps-Regular.ttf"); 
}
 

/* Montserrat Alternates 700 bold */
@font-face {
	font-family: 'MontserratAlternates-Bold'; 
	src: url("../fonts/MontserratAlternates-Bold.ttf"); 
}


/* Montserrat Alternates 400 regular */
@font-face {
	font-family: 'MontserratAlternates-Regular'; 
	src: url("../fonts/MontserratAlternates-Regular.ttf"); 
}