@import "/assets/css/reset.css";
@import "/assets/css/fonts.css";



.layout
{   
    width: 100%;
    height: 100%;
    background: rgb(243, 245, 243);
}

.myHeader{    
    margin: auto;
    width: 1440px;
    display: flex;    
    align-items: center;
    height: 154px;
    background:#fff;
}
/* Логотип flowers */
#logo{ 
    margin-left: 102px;
    font-family: "BilboSwashCaps-Regular";
    font-size: 72px;
    text-decoration: none;
    color: #424242;
}
/* Адаптивность для логотипа */
@media screen and (max-width:768px) {
    #logo {
      font-size: 48px; 
      margin-left: 46px;
    }
    .myHeader{
        width: 768px;
        height: 85px;
    }
}

/* Устанавливаю стили для navigation */
.navigation{
    width: 100%;   
    margin-right: 101px;
    text-align: right;
}
.navigation ul li{
    display:inline;
    margin-left: 54px;
}



.navigation ul li a{      
    
    font-family: "MontserratAlternates-Bold";
    font-size: 24px;    
    color: #424242;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    nav a {
      font-size: 10px;      
    }
}

.main__chooseFlowers{
    margin: auto;
    width: 1440px;
    position: relative;
    
}
.main__chooseFlowers img{
    margin: auto;
    width: 1440px;
}
.information{
    font-family: "MontserratAlternates-Bold";
    font-size: 64px;    
    color: #424242;
    position:absolute;
    top: 174px;
    left: 196px;
    text-align: center;
}

.chooseFlowersBtn{
    position:absolute;
    top: 416px;
    left: 522px;

    height: 96px; 
    width: 396px;   
    background-color: #556867;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.chooseFlowersBtn a{   
    margin: auto;
    font-family: "MontserratAlternates-Bold";
    font-size: 36px;   
    text-decoration: none;
    color: #fff;
}
main{
    width: 1440px;
    background-color: #fff;
    margin: auto;
}

/* О нас */
.main__aboutUs
{
    margin: auto;
    position: relative;   
    margin-top: 90px; 
    height: 346px; 
    width: 1237px;
    
}
.main__aboutUs h2{
    font-family: "MontserratAlternates-Bold";
    font-size: 48px;    
    color: #424242;
    text-align: center;
}

.aboutUs__properties{    
    
    position: absolute;
    border: 1px solid black;
    bottom: 0px;
    right: 0px;
    left: 0px;
    
}
.aboutUs__properties ul{
    border: 1px solid red;

}
.aboutUs__properties ul li{
    display: inline-block;    
}
.aboutUs__properties ul li div{
    display: inline-block;    
    text-align: center;
    
}
.aboutUs__properties ul li p{
    font-family: "MontserratAlternates-Regular";
    font-size: 24px;    
    color: #424242;
}

/* Виды цветов */
.main__flowers{
    margin-top: 90px;   
}
.main__flowers h2{
    font-family: "MontserratAlternates-Bold";
    font-size: 48px;    
    color: #424242;
    text-align: center;
}

.flowers__type{
    position: relative;
    margin: auto;
    margin-top: 55px;
    width: 1237px;    
    height: 1521px;
    border: 1px solid red;
}
.flowers__type ul{
    position: absolute;
}
.flowers__type ul li {
    display: inline-block;    
    background-color: #EBEBEE;     
    width: 385px;
    height: 685px;    
}

.flower__img 
{     
    text-align: center;
    margin-top: 21px;
}
.flower__params
{       
    text-align: center;
}
.flower__price{
    text-align: center;
}
.flower__offer{
    
    text-align: center;
}